#topic-form {
    margin: 2px auto;
}

.btn-info {
    margin: 2px;
}
.container-fluid {
    background-color: purple;
    height: auto;
    margin-top: 30px;
}
h1 {
    font-family: fantasy;
    height: 75px;
    padding-top: 10px;
    text-align: center;
    border-bottom: 2px solid black;
    padding-top: 10px;
}
